fastapi
uvicorn[standard]
pydantic
redis
fakeredis
google-cloud-storage
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-requests